[Unit]
Description=Restore ALSA Volume After SuperCollider Reset
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/alsactl -f /var/lib/alsa/asound.state restore
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 